#content{
	top: 10px;
	left: 10px;
	position: relative;
}

.invs{
	visibility: visible;
	border-top: 2pt black solid;
	border-width: 2px 0px 0px 0px;
	font-weight: bold;
}

.bord{
	border-top: 2px solid black;
}

.bord2{
	border-top: 2px solid black;
	text-align:left
}

.lft, td{
	text-align: left;
}

.cntr, td{
	border-spacing: 5px;
	text-align: center;
}

table, td, th{
	padding: 4px;
	border-spacing: 0px;
}

.headr, table{
	border-color: #d0d0ff;
	border-style: solid;
	border-width: 10px;
	padding: 20px;
	font: Tahoma;
	font-size: 13px;
}