body {
    background: url('http://jis.gov.jm/media/2003.10.28-5316-Kings-House.jpg') no-repeat fixed center center;
    background-size: cover;
}

php, form{
    margin: 0 auto;
    width:250px;
    padding:10px 30px 40px;
    background-color:#2980b9;
    background-size: cover;
    font-family: Tahoma;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 25px;
    font-size:13px
}

.input{
    width:250px;
    height:20px;
    border-radius:1px;
    box-shadow:0 0 1px 2px #123456;
    margin-top:10px;
    border:none;
    margin-bottom:20px
}

.login{
    color:#fff;
    border-radius:3px;
    background:#e74c3c;
    margin-top:40px;
    margin-left:70px;
    border:none;
    width:100px;
    height:30px;
    box-shadow:0 0 1px 2px #123456;
    font-size:16px
}

h1 {
    font-family: Tahoma;
    text-align: center;
    text-shadow:1px 2px #123456;
    color: #ecf0f1;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px
}

.error{
    color:#CF000F
}

input #rem-reg {
    width: 320px
}

span #not-reg a {
    font-family: sans-serif;
    font-size: 1em;
    color: #aaa;
    margin-right: 120;
    text-decoration: none;
}

.login:hover {
    background: #ff7b81;
}

input #remember {
    height: 12px;
    width: 12px;
    
}

span #remember-text {
    font-family: sans-serif;
    font-size: 1em;
    color: #aaa;
}